/* Set  the behavior of the scroll to be as fluid as possible */
html {
    scroll-behavior: smooth;
}

/* Set the foreground color value for body */
body {
    color: var(--text-color);
}

/* Set the foreground color value for anchor elements */
a {
    color: var(--text-color);
}

/* Set display value for elements with class visually-hidden */
.visually-hidden {
    display: none;
}

/* Set foreground color value for elements with class card-category */
.card-category {
    color: var(--color-primary);
}

/* Set foreground color value for elements with class section-tagline */
.section-tagline {
    color: var(--color-primary);
}

/* Define custom properties to the root elements */
:root {
--color-primary: #d73953;
--color-black: #090909;
--color-white: #ffffff;
---color-light-grey: #f3f3f3;
--color-dark-grey: #353535;
--text-color: var(color-black);
}
